body { 
    background: green;
    padding: 0 !important;
}

h1 { 

	text-align: center;
}

#message-area, #payout-area { 

	height: 50px;
	text-align: center;	
	font-family: Arial;	
	font-size: 50px;
	line-height: 70px;
	color: black;
}

#play-area {

	margin-top: 100px;
	height: 265px;
	padding: 8px 0;
	background: rgb( 10, 80, 10 );
	border-radius: 45px;
	border: 12px double rgb( 20, 150, 20);
}

#button-area {

	border: 1px solid black;	
	margin-top: 20px;
	height: 50px;
	padding: 7px 0;

	button {

		margin-left: 10px;	

		&.pull-right { 

			margin-left: 0;
			margin-right: 10px;
		}
	}
}

#score-bar { 

	position: fixed;
	bottom: 3px;
	height: 60px;
	border: 2px groove rgb( 20, 70, 20 );
	border-radius: 8px;
	background-color: rgb( 150, 150, 150 );
}

