doctype html
html( lang="en" )
  head
    script( type="text/javascript" src="//localhost:35729/livereload.js" )
    script( type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js" )
    script( type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js" )
    script( type="text/javascript" src="public/js/videopoker.js")
    link( rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    link( rel="stylesheet" href="public/style/css/style.css" )
  body
    h1 Hello World
    button( id="btn-new-deck" ) New Deck
    button( id="btn-draw-5" ) Draw 5

