doctype html
html( lang="en" )
  head
    script( type="text/javascript" src="//localhost:35729/livereload.js" )
    script( type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js" )
    script( type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js" )
    script( type="text/javascript" src="public/bower_components/underscore/underscore-min.js" )
    script( type="text/javascript" src="public/js/videopoker.js" )
    script( type="text/javascript" src="public/js/videopokerlogic.js" )
    link( rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    link( rel="stylesheet" href="public/style/css/style.css" )
  body( class="container col-md-12" )
    h1 Creative Mutagens || Video Poker
    div( id="play-area" class="row col-md-10 col-md-offset-1" )
        div( id="card-1" class="card-placeholder pull-left faceup" )
        div( id="card-2" class="card-placeholder pull-left faceup" )
        div( id="card-3" class="card-placeholder pull-left faceup" )
        div( id="card-4" class="card-placeholder pull-left faceup" )
        div( id="card-5" class="card-placeholder pull-left faceup" )
    div( id="message-area" class="row col-md-12" ) 
    div( id="button-area" class="row col-md-4 col-md-offset-4")
        button( id="btn-bet-1" data-bet-value="1" class="btn btn-bet") Bet 1
        button( id="btn-bet-10" data-bet-value="10" class="btn btn-bet" ) Bet 10
        button( id="btn-bet-50" data-bet-value="50" class="btn btn-bet" ) Bet 50
        button( id="btn-draw" disabled="true" class="btn pull-right btn-draw" ) Draw
    div( id="score-bar" class="row col-md-offset-1 footer")
        div( class="value-label pull-left" ) Score
        div( class="value-value pull-left" ) 0

