doctype html
html( lang="en" )
  head
    script( type="text/javascript" src="//localhost:35729/livereload.js" )
    link( rel="stylesheet" href="public/style/css/style.css" )
  body
    h1 Hello World

